/* font-family: "Inter", serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

:root{
  --purple: #6A4DF4;
  --bg: #E0FFF9;
  --ash-bg:#F3F3F3;
  --shadow: 0px 0px 10px 2px rgba(0, 0, 0, .25);
  --ash: #737373;
  --black: #151515;
}

body{
  font-family: "Inter", serif;
}
.container{
  width: 1320px;
  margin: 0 auto;
}

/* nav start  */
nav{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}

.navbar__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__items li{
  margin: 0 25px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.navbar__items li a{
  color: white;
}
.navbar__items li:hover a{
  color: var(--purple);
}
.navbar__items li:first-child{
  color: var(--purple);
}
.navbar__btn{
  background: var(--purple);
  border: 2px solid var(--purple);
  padding: 15px 42px;
  border-radius: 10px;
  cursor: pointer;
}
.navbar__btn:hover{
  background: transparent;
  border: 2px solid var(--purple);
}
.navbar__btn:hover a{
  color: var(--purple);
}
.navbar__btn a{
  color: white;
}

/* nav end  */
/* banner start  */
#banner{
  padding-top: 215px;
  padding-bottom: 176px;
  position: relative;
  background: url(../images/agenc-Banner\ 1.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
}
#banner::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: -1;
}
.banner--heading{
  color: #ffff;
  font-weight: 700;
  line-height: 120%;
  font-size: 75px;
  width: 950px;
  margin: 0 auto;
  text-align: center;
}
.banner__p{
  color: #ffff;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  width: 621px;
  margin: 0 auto;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 40px;
}
.banner__btn{
  display: flex;
  justify-content: center;
}
.banner--btn{
  padding: 15px 42px;
  background: var(--purple);
  color: #ffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  margin: 0 auto;
}
.banner--btn:hover{
  padding: 15px 42px;
  background: transparent;
  color: var(--purple);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  border: 2px solid var(--purple);
}
.banner__dots{
  display: flex;
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
}
.banner__dot{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: var(--purple);
}
.banner__dot--border{
  border: 3px solid #ffff;
}
/* banner end  */
/* about start  */
#about{
  padding-top: 171px;
  padding-bottom: 150px;
}
.about__wrapper{
  display: flex;
  justify-content: space-around;
  padding: 90px 0;

  background: var(--bg);
}
.about__text{
  width: 20%;
}
.about--p{
  color: var(--purple);
  font-size: 25px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 15px;
}
.about--heading{
  color: var(--black);
  font-size: 35px;
  font-weight: 600;
  line-height: auto;
  width: 387px;
}
.about__stats{
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.about__stat--subheading{
  font-size: 50px;
  font-weight: 700;
  line-height: auto;
  color: var(--black);
  margin-bottom: 20px;
}
.about__stat--para{
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: var(--ash);
}
/* about end  */
/* service start  */
#service{
  padding-bottom: 103px;
  text-align: center;
}
.service--heading{
  font-size: 45px;
  color: var(--black);
  font-weight: 700;
}
.service--para{
  font-size: 16px;
  color: var(--ash);
  font-weight: 400;
  line-height: 26px;
  width: 609px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.service__cards{
  display: flex;
  flex-wrap: wrap;
}
.service__card{
  width: 424px;
  height: 428px;
  text-align: center;
  padding: 46px 49px;
  padding-top: 80px;
  border-radius: 20px;
  cursor: pointer;
}
.service__card:hover{
  box-shadow: var(--shadow);
}
.service__card--subheading{
  color: var(--black);
  font-size: 25px;
  line-height: auto;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}
.service__card--para{
  color: var(--ash);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
/* service end  */
/* work start  */
#work{
  background: var(--ash-bg);
  padding: 150px 0;
  text-align: center;
}
.work--heading{
  color: var(--black);
  font-size: 45px;
  font-weight: 700;
  line-height: 100%;
}
.work--para{
  color: var(--ash);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 620px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 106px;
}
.work__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work__card{
  width: 424px;
  height: 457px;
  background: #ffff;
  border-radius: 20px;
  margin-bottom: 24px;
  cursor: pointer;
}
.work__card:hover{
  background: var(--ash-bg);
}
.work__card--subheading{
font-size: 20px;
font-weight: 700;
line-height: auto;
color: var(--black);
margin-top: 30px;
margin-bottom: 10px;
}
.work__card--para{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--ash);
width: 340px;
margin: 0 auto;
}
/* work end  */
/* choose start  */
#choose{
  padding-top: 150px;
  padding-bottom: 116px;
}
.choose__title{
  text-align: center;
}
.choose__title--heading{
  color: var(--black);
  font-size: 45px;
  line-height: auto;
  font-weight: 700;
  width: 518px;
  margin: 0 auto;
}
.choose__title--para{
  color: var(--ash);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  width: 802px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 137px;
}
.choose__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose__card{
  width: 344px;
  height: 176px;
  cursor: pointer;
}
.choose--margint{
  margin-right: 103px;
}
.choose--marginb{
  margin-bottom: 88px;
}
.choose__card--subheading{
color: var(--black);
font-size: 25px;
line-height: auto;
font-weight: 700;
margin-top: 20px;
margin-bottom: 10px;
}
.choose__card--para{
color: var(--ash);
font-size: 16px;
line-height: 26px;
font-weight: 400;
width: 344px;
}

.choose__left{
  display: flex;
  flex-wrap: wrap;
}

/* choose end  */