/* font-family: "Inter", serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

:root{
  --purple: #6A4DF4;
  --bg: #E0FFF9;
  --ash-bg:#F3F3F3;
  --shadow: 0px 0px 10px 2px rgba(0, 0, 0, .25)
}

body{
  font-family: "Inter", serif;
}
.container{
  width: 1320px;
  margin: 0 auto;
}

/* nav start  */
nav{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}

.navbar__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__items li{
  margin: 0 25px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.navbar__items li a{
  color: white;
}
.navbar__items li:hover a{
  color: var(--purple);
}
.navbar__items li:first-child{
  color: var(--purple);
}
.navbar__btn{
  background: var(--purple);
  border: 2px solid var(--purple);
  padding: 15px 42px;
  border-radius: 10px;
  cursor: pointer;
}
.navbar__btn:hover{
  background: transparent;
  border: 2px solid var(--purple);
}
.navbar__btn:hover a{
  color: var(--purple);
}
.navbar__btn a{
  color: white;
}

/* nav end  */
/* banner start  */
#banner{
  padding-top: 215px;
  padding-bottom: 176px;
  position: relative;
  background: url(../images/agenc-Banner\ 1.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
}
#banner::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: -1;
}
.banner--heading{
  color: #ffff;
  font-weight: 700;
  line-height: 120%;
  font-size: 75px;
  width: 950px;
  margin: 0 auto;
  text-align: center;
}
.banner__p{
  color: #ffff;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  width: 621px;
  margin: 0 auto;
  text-align: center;
  margin-top: 51px;
  margin-bottom: 40px;
}
.banner__btn{
  display: flex;
  justify-content: center;
}
.banner--btn{
  padding: 15px 42px;
  background: var(--purple);
  color: #ffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  margin: 0 auto;
}
.banner--btn:hover{
  padding: 15px 42px;
  background: transparent;
  color: var(--purple);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  border-radius: 10px;
  border: 2px solid var(--purple);
}
.banner__dots{
  display: flex;
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-50%);
}
.banner__dot{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: var(--purple);
}
.banner__dot--border{
  border: 3px solid #ffff;
}
/* banner end  */